html {
    font-size: 62.5%;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Anybody', cursive;
    font-size: 1.6rem;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
    color: #90b7f4;
}

.form-principal input {
    margin: 1rem 0;
    width: 95%;
    border-radius: 3rem;
    border-style: none solid solid none;
    color: #ebbc21;
    border-color: #ebbc21;
    padding: 0.5rem 1rem;
}
input::placeholder {
    color: #90b7f4;
}

input:focus {
    outline: none;
    border-style: none solid solid none;
    border-color: #90b7f4;
}

header {
    background-color: #90b7f4;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #90b7f4;
    height: 5%;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.image-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.image-background img {
    width: 45vw;
    height: 80vh;
}

.login-area,
.signup-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.signup-area h2 {
    font-size: 4rem;
    color: #90b7f4;
    padding: 0 12rem;
}

.botao-form {
    padding: 0.7rem;
    width: 80%;
    border-radius: 5rem;
    background-color: #90b7f4;
    color: white;
    border: none;
    margin-bottom: 1.6rem;
}
.botao-form:hover {
    padding: 0.7rem;
    width: 80%;
    border-radius: 5rem;
    background-color: #ebbc21;
    color: white;
    border: none;
    margin-bottom: 1.6rem;
}
.botao-salvar-recados {
    padding: 0.7rem;
    width: 10%;
    border-radius: 5rem;
    background-color: #90b7f4;
    color: white;
    border: none;
    margin-bottom: 1.6rem;
}

.botao-salvar-recados:hover {
    padding: 0.7rem;
    width: 10%;
    border-radius: 5rem;
    background-color: #ebbc21;
    color: white;
    border: none;
    margin-bottom: 1.6rem;
}

.pergunta-conta {
    color: #ebbc21;
    text-align: center;
}

.pergunta-conta a {
    color: #304fac;
}

.contato {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 5rem;
}

.icones {
    width: 3rem;
    margin: 0.7rem;
}

.centralizar {
    text-align: center;
}

.icone-sair {
    width: 3rem;
    margin: 0.7rem 4rem;
}

.titulo-recados {
    margin: 0.7rem 5rem;
    color: white;
}

.principalMain {
    display: flex;
}

.titulo-recado {
    font-size: 4rem;
    margin: 10rem 0 5rem 10rem;
    color: #ebbc21;
}
.margin-padrao {
    margin: 0 0 5rem 10rem;
}
.input-recados {
    width: 40%;
    margin: 0rem 1rem;
    border-radius: 2rem;
    padding: 10px;
    border-style: none solid solid none;
    color: #ebbc21;
    border-color: #ebbc21;
}

#tabela {
    width: 85%;
    border: solid black;
}

#tabela td {
    text-align: center;
    padding: 1rem 0;
}
