html {
    font-size: 62.5%;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Anybody', cursive;
    font-size: 1.6rem;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    height: 5%;

    background-color: #90b7f4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    display: flex;
    width: 100%;
    height: 95%;
    align-items: center;
}

footer {
    height: 5%;
    background-color: #90b7f4;
    color: white;
    display: flex;
    align-items: center;
}

label {
    opacity: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 0.8rem;
    text-align: center;
    border-bottom: 0.1rem solid #90b7f4;
}

th {
    color: #ebbc21;
}
td {
    color: #90b7f4;
}

tbody > tr:hover {
    background-color: #ebbc217d;
}

#iconeSair {
    margin: 5rem;
}

#iconeSair:hover {
    cursor: pointer;
}

#erroDeDados,
#usuarioNaoExiste {
    margin-top: 2rem;
}

.formPrincipal input {
    width: 100%;
    border-radius: 3rem;
    border-style: none solid solid none;
    color: #ebbc21;
    border-color: #ebbc21;
    padding: 0.5rem 1rem;
}

.formPrincipal p {
    text-align: center;
}
.formRecados {
    text-align: center;
    margin-bottom: 5rem;
}
.formRecados input {
    width: 40%;
    border-radius: 3rem;
    border-style: none solid solid none;
    color: #ebbc21;
    border-color: #ebbc21;
    padding: 0.5rem 1rem;
}
input::placeholder {
    color: #90b7f4;
}

input:focus {
    outline: none;
    border-style: none solid solid none;
    border-color: #90b7f4;
}

.esquerda,
.direita {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.tituloSecundario {
    font-size: 1.8rem;
    margin-left: 5rem;
}

.tituloPrincipal {
    font-size: 4rem;
    color: #90b7f4;
    text-align: center;
}

.tituloPrincipalRecados {
    font-size: 4rem;
    color: #90b7f4;
    text-align: center;
    margin: 5rem auto;
}

.imagemPrincipal {
    width: 90%;
}

.botaoFormPrincipal {
    padding: 0.7rem;
    border-radius: 5rem;
    background-color: #90b7f4;
    color: white !important;
    border: none;
    margin: 1.6rem;
}

.botaoFormPrincipal:hover {
    padding: 0.7rem;
    width: 100%;
    border-radius: 5rem;
    background-color: #ebbc21;
    color: white;
    border: none;
    margin-bottom: 1.6rem;
}

.botaoSalvarRecados {
    padding: 0.7rem;
    width: 10% !important;
    border-radius: 5rem;
    background-color: #90b7f4;
    color: white !important;
    border: none;
    margin-bottom: 1.6rem;
}

.botaoSalvarRecados:hover {
    padding: 0.7rem;
    width: 10%;
    border-radius: 5rem;
    background-color: #ebbc21;
    color: white;
    border: none;
    margin-bottom: 1.6rem;
}

.botaoTabela {
    border-radius: 3rem;
    border-style: none solid solid none;
    color: white;
    background-color: #90b7f4;
    border-color: #ebbc21;
    padding: 0.5rem 1rem;
}

.botaoTabela:hover {
    border-radius: 3rem;
    border-style: none solid solid none;
    color: white;
    background-color: #ebbc21;
    padding: 0.5rem 1rem;
}

.icones {
    width: 2.5rem;
    margin: 0 2rem;
}

.paragrafoPergunta a {
    color: #ebbc21;
}

#mainRecados {
    display: block;
    height: 84.9%;
}

.erroDeDados {
    color: red;
}

.inputEditarRecados {
    border-radius: 1rem;
    border-style: none solid solid none;
    border-color: #ebbc21;
    padding: 1rem 2rem;
    text-align: center;
    color: #ebbc21;
}

#h3EditarRecados {
    color: #ebbc21;
}

.sectionAtualizarEditar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 60%;
}

.inputEditar {
    border-radius: 1rem;
    height: 4rem;
    width: 30rem;
    position: absolute;
    right: calc(50% - 15rem);
    border-style: none solid solid none;
    border-color: #ebbc21;
    text-align: center;
}
.inputEditar:hover {
    border-radius: 1rem;
    height: 4rem;
    width: 30rem;
    position: absolute;
    right: calc(50% - 15rem);
    border-style: none solid solid none;
    border-color: #90b7f4;
}

#novoTitulo {
    top: 30%;
}
#novaMensagem {
    top: 50%;
}
#divAtualizar {
    background-color: #0000009d;
    position: absolute;
    height: 100vh;
    width: 100vw;
}
#formAtualizar {
    background-color: aliceblue;
    width: 40rem;
    height: 40rem;
    border-radius: 2rem;
    position: absolute;
    top: calc(50% - 20rem);
    left: calc(50% - 20rem);
}
#botaoSalvarEdicao {
    position: absolute;
    width: 11rem;
    height: 4.5rem;
    padding: 0;
    bottom: 4rem;
    right: calc(50% - 5rem);
    border-radius: 3rem;
    border-style: none solid solid none;
    color: white;
    background-color: #90b7f4;
    border-color: #ebbc21;
    padding: 0.5rem 1rem;
}
#botaoSalvarEdicao:hover {
    border-radius: 3rem;
    border-style: none solid solid none;
    color: white;
    background-color: #ebbc21;
    border-color: #90b7f4;
    padding: 0.5rem 1rem;
}
